*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
}
 a{
    text-decoration: none;
    color: black;
}
.Page{
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
}


.mainPage{
    width: 100%;
    min-height: 100vh;
    /* background: rgb(101, 240, 161); */
}
.footer{
    width: 100%;
    height: 100px;
    background: aqua;
}

@media only screen and (max-width: 1300px) {
    .header{
        width: 100%;
    }
    .Page{
        width: 100%;
    }
    #notify{
        display: none;
    }
    #language{
        display: none;
    }
    .header-logo{
        display: none;
    }
    .header-search{
        width: 75%;
    }
    .header-use {
        width: 15%;
    }
    .header-container{
        width: 100%;
    }
    .HeaderUse-child span{
        display: none;
    }
    .header-use a{
        color: #fff !important;
    }
    .header-container{
        background-color: #C92127;
        color: #fff !important;
    }
    .ico-menu{
        display: none;
    }
    .ico-menu-white{
        display: block;
    }
    .menu span{
        display: none;
    }
    .HeaderUse-child-ico{
        font-size: 40px;
    }
}
@media only screen and (max-width: 900px) {
    .menu{
        width: 20%;
    }
    .header-search{
        width: 55%;
    }
    .header-use {
        width: 25%;
    }
    .HeaderUse-child-ico{
        font-size: 30px;
    }
    .header-use a{
        color: #fff !important;
    }
}