header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    top: 10px;
    position: sticky;
}
.header-container{
    width: 80%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.header-logo,
.header-search,
.header-use,.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* logo //////////////////////////////////// */
.header-logo{
    width: 20%;
    padding: 10px 0;
}
.logo-img {
    width: 100%;
    height: 100%;

}
/* search/////////////////////////////// */
.header-search{
    width: 40%;
}
.form-search{
    width: 100%;
    position: relative;
}
#search,
#search-submit{
    border-radius:  8px;
    border: 0.1px solid rgb(189, 189, 189);
}
#search{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}
#search-submit{
    top: 5px;
    right: 5px;
    height: 30px;
    color: #ffffff;
    padding: 2px 25px;
    position: absolute;
    background-color: #C92127;;
    font-weight: 800;
    font-size: 20px;
}
/* hader menu///////////////////////// */
.menu{
    width: 10%;
}
.ico-menu-white{
    display: none;
}
.ico-menu,.ico-menu-white{
    width: 50%;
    height: 50%;
}
/* header use/////////////////////////// */
.header-use {
    width: 30%;
}
/* header navbar/////////////////////////// */
.header-navbar{
    background-color: #fff;
}

.header-list-nav{
    display: flex;
    justify-content: space-around;
    list-style: none;

}